.navbar {
    /* background: #212529 !important; */
    background-color: #246194;
}

@media (min-width: 1024px) {
    .navbar h5:hover {
        transform: scale(1.2);
    }
}

.pie-pagina {
    background-color: #246194;
}

h1,
h2,
h3,
h4 {
    color: #005397;
}

.center-login {
    height: 90vh;
}

.minh-100 {
    height: 60vh;
}

.btn h5:hover {
    color: white;
    transform: scale(1.3);
}

@media (max-width: 1024px) {
    div.dataTables_wrapper div.dataTables_filter input {
        width: 150px;
    }
}

.card-body {
    border-top: 1px solid #007bff !important;
}