<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gestión de Vehículos</title>
  <link rel="shortcut icon" href="/img/truck1.png"/>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/fa/css/all.css">
  {{!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"> --}}
  <script src="/js/jquery-3.3.1.js"></script>    
</head>

<body>
  {{#if session.auth}}
    {{>barra-navegacion}}
  {{/if}}
  
  {{>message}} 
  {{{ body }}}

  {{#if session.auth}}
    <footer class="pie-pagina text-center text-white mt-5 fixed-bottom">
      <div class="container">
        <p class="m-0  py-2">Sistema Gestión de Vehículos - Mercotec</p>
      </div>
    </footer>
  {{/if}}

  <script src="/js/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/js/bootstrap.min.js"></script>
  <script src="/css/fa/js/all.js"></script>

</body>
</html>