<main class="index">
    <header class="masthead d-flex">
      <div class="container">
        <div class="row justify-content-center align-items-center center-login">
          <div class="mx-auto col-xs-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
            {{#if msjError}}
              <div class="col-12">
                  <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      {{msjError.msj}}
                      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
              </div>
            {{/if}}
            <div class="card text-center border-primary shadow-lg">
              <div class="card-header">
                <h2>Gestión de vehículos</h2>
              </div>
              <div class="card-body ">
                <form action="/" method="POST">
                  <div class="input-group mb-3">
                    {{!-- <div class="input-group-prepend">
                      <i class="fas fa-user fa-2x input-group-text"></i>
                    </div> --}}
                    <input type="text" name="username" placeholder="Usuario" class="form-control form-control-lg" autofocus required>
                  </div>
                  <div class="input-group mb-3">
                    {{!-- <div class="input-group-prepend">
                      <i class="fas fa-key fa-2x input-group-text"></i>
                    </div> --}}
                    <input type="password" name="password" placeholder="Contraseña" class="form-control form-control-lg" required>
                  </div>
                  <button class="btn btn-outline-primary btn-block btn-lg border-3">
                    <h5>Ingresar</h5>
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
</main>   

